@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;    
}

html {
    font-size: 10px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    background: #fff;
    color: #333;
    line-height: 1.6;
}

ul {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

h1,h2 {
    font-weight: 300;
    line-height: 1.2;
}

p {
    margin: 1rem 0;
}

img {
    width: 100%;
}

.text-center {
    text-align: center;
}

/* navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dark);
    opacity: 0.8;
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    padding: 0 3rem;
}

.navbar a {
    color: #fff;
    padding: 1rem 2rem;
    margin: 0 .5px;
}

.navbar a:hover {
    border-bottom: 2px solid var(--warning);
}

.navbar ul {
    display: flex;
}

.navbar .brand {
    font-weight: 400;
}

.navbar h1 {
    font-size: 3rem;
}

.navbar span {
    color: var(--warning);
}

/* header */

.main-header {
    background-image: url('../img/bg-1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #fff;
    position: relative;
}

.main-header .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.main-header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6)
}

.main-header * {
    z-index: 5;
}

.main-header .content h1 {
    font-size: 5.5rem;
}

.main-header .content p {
    font-size: 2.3rem;
    max-width: 60rem;
    margin: 2rem 0 3rem;
}