.btn_start,
.quiz_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.quiz_box.active {
    opacity: 1;
    pointer-events: auto;

    transform: translate(-50%, -50%) scale(1);
}

.quiz_box {
    width: 550px;

    transform: translate(-50%, -50%) scale(0.7);
    transition: all 0.3s ease;

    opacity: 0;
    pointer-events: none;
}

.quiz_box header .title {
    font-size: 20px;
    font-weight: 600;
}

.quiz_box .question_text {
    font-size: 20px;
    font-weight: 600;
}

.quiz_box .option_list {
    padding: 18px 0;
}

.quiz_box .option_list .option {
    border: 1px solid #151D3B;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quiz_box .option_list .option:hover {
    color: #112B2C;
    background: #FFD33D;
}

.quiz_box .option_list .option.correct {
    color: #155724;
    background: #d4edda;
}

.quiz_box .option_list .option.incorrect {
    color: #721c24;
    background: #f8d7da;
}

.quiz_box .option_list .option.disabled {
    pointer-events: none;
}

.quiz_box .next_btn {
    opacity: 0;
    pointer-events: none;

    transform: scale(0.9);
    transition: all 0.3s ease;
}

.quiz_box .next_btn.show {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.quiz_box footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}