:root {
  --primary-color: #e76f51;
  --secondary-color: #2a9d8f;
  --light-color: #f8f9fa;
  --dark-color: #6c757d;
  --max-width: 1100px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: var(--light-color);
}

a {
  color: var(--dark-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Varela Round", sans-serif;
  margin: 0.7rem;
  line-height: 1.3;
}

p {
  margin: 0rem 0;
}

/* utils */
.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 2rem;
}

.btn {
  display: inline-block;
  border: none;
  background-color: var(--dark-color);
  color: #fff;
  padding: 0.4rem 1.6rem;
}

.btn-light {
  background-color: var(--light-color);
}

.btn-dark {
  background-color: var(--dark-color);
}

.btn-primary {
  background-color: var(--primary-color);
}

.btn:hover {
  opacity: 0.8;
}

.btn-block {
  display: block;
  width: 100%;
  text-align: center;
}

.bg-primary {
  background-color: var(--primary-color);
  color: #fff;
}

.bg-secondary {
  background-color: var(--secondary-color);
  color: #fff;
}

.bg-light {
  background-color: var(--light-color);
  color: var(--dark-color);
}

.bg-dark {
  background-color: var(--dark-color);
  color: #fff;
}

.p-1 {
  padding: 0.5rem;
}

.p-2 {
  padding: 0.6rem;
}

.p-3 {
  padding: 0.8rem;
}

.p-4 {
  padding-top: 1rem;
}

.pt-1 {
  padding-top: 0.5rem;
}

.pt-2 {
  padding-top: 0.6rem;
}

.pt-3 {
  padding-top: 0.8rem;
}

.pt-4 {
  padding-top: 1rem;
}

.py-1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-2 {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}

.px-1 {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.px-2 {
  padding-right: 0.6rem;
  padding-left: 0.6rem;
}

.m-1 {
  margin: 0.5rem;
}

.m-2 {
  margin: 0.6rem;
}

.m-3 {
  margin: 0.8rem;
}

.m-4 {
  margin: 1rem;
}

.mb-1 {
  margin-bottom: 0.5rem;
}
.mb-2 {
  margin-bottom: 0.6rem;
}
.mb-3 {
  margin-bottom: 0.8rem;
}
.mb-4 {
  margin-bottom: 1.6rem;
}

.card {
  background-color: #fff;
  padding: 1rem;
}

.card-primary {
  background-color: var(--primary-color);
  padding: 1rem;
}

.category {
  display: inline-block;
  color: #fff;
  font-size: 1.2rem;
  letter-spacing: 1px;
  padding: 0.4rem 0.6rem;
  border-radius: 15px;
  margin-bottom: 0.5rem;
}

/* navbar */
#main-nav {
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 3;
}

#main-nav .container {
  display: grid;
  grid-template-columns: 0.6fr 3fr 2fr;
  padding: 1rem;
  align-items: center;
}

#main-nav .logo {
  width: 65px;
}

#main-nav ul {
  display: flex;
  justify-self: start;
}

#main-nav ul li a {
  padding: 0.6rem;
  font-weight: bold;
}

#main-nav ul li a.active {
  background: var(--primary-color);
  color: #fff;
  border-radius: 5px;
}

#main-nav ul li a:hover {
  background: var(--light-color);
  color: var(--dark-color);
}

#main-nav .social-icons {
  justify-self: end;
}

/* header */
#header {
  color: #fff;
  background-color: #333;
  padding: 2rem;
  position: relative;
}

#header:before {
  content: "";
  background: url("../img/rowing.jpeg") no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

#header .header-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 50vh;
  align-items: center;
}

#header .header-content {
  z-index: 2;
}

/* articles */
#main-articles .articles-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
